// breakpoint maker
@mixin breakpoint($min-or-max, $width) {
    @media (#{$min-or-max}-width: $width) {
        @content;
    } 
}

// Making border radius
@mixin b-radius($top, $right, $bottom, $left) {
    border-radius: $top $right $bottom $left;
    -webkit-border-radius: $top $right $bottom $left;
    -moz-border-radius: $top $right $bottom $left;
    -ms-border-radius: $top $right $bottom $left;
    -o-border-radius: $top $right $bottom $left;
}

